*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

section{
    background-color: #525;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
div.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    z-index: 1000;
    
}
div.nav h2{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.nav ul li{
    display: inline-block;
    margin-left: 4px;
}
div.nav ul li a{
    padding: 7px 17px;
    color: white;
}
div.nav ul li a:hover, #Home{
    background-color: blueviolet;
    border-radius: 5px;
}
/*page*/
div.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}div.page div.text{
    color: rgb(223, 207, 207);
    width: 30%;
}
div.page div.text h3{
    font-size: 30px;
    margin: 25px 5px;
}
div.page  img{
    width: 40%;
    height:50%;
}
/*img*/
div.img img{
    width: 90px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: 0.7s;
    cursor: pointer;
    transform: translate(50px, -100px);
}
div.img img:hover{
    transform: scale(1.5);
    transform: translate(50px, -110px);
}
